---
interface Props {
  span1: string;
  circle1: string;
  span2: string;
  circle2: string;
  span3: string;
  circle3: string;
}
const { span1, circle1, span2, circle2, span3, circle3 } = Astro.props;
---

<div class="relative">
  <ul class="flex justify-between items-center w-40 lg:w-52">
    <li class="bg-Mycolor-green z-10 flex">
      <span class={span1}>{circle1}</span>
    </li>
    <li class="bg-Mycolor-green z-10 flex">
      <span class={span2}>{circle2}</span>
    </li>
    <li class="bg-Mycolor-green z-10 flex">
      <span class={span3}>{circle3}</span>
    </li>
  </ul>
  <div class="border border-Mycolor-white absolute top-[50%] w-full"></div>
</div>
